<footer class="flex flex-col md:flex-row justify-between items-center bg-white  w-full p-10 gap-7.5 md:gap-0">
  <div class="font-bold">
    <img src="logo_slopeworks.svg" alt="SlopeWorks" class="h-24" />
  </div>
  <div class="text-center text-black font-bold">© {{ currentYear }} Skiwie - All rights reserved</div>
  <ul class="flex flex-row gap-7.5 ">
<!--    TODO updaate links-->
    <app-footer-list-item label="Linkedin" href="https://www.linkedin.com/in/niels-lazaroms-608664242/"></app-footer-list-item>
    <app-footer-list-item label="Facebook" href="https://github.com/NielsLazaroms"></app-footer-list-item>
  </ul>
</footer>
