<section class="flex w-full justify-between gap-16 md:gap-8 items-start flex-col md:flex-row" >
  <div class=" flex flex-col w-[50%] gap-8 justify-center items-center sm:items-start">
    <app-section-title  mn-instance="section-title-getInTouch" [data]="getInTouchTitle"></app-section-title>
    <p class="text-center sm:text-left">{{componentConfig.informationDescription}}</p>
    <div class="flex flex-col gap-6">
      <app-info-item
        mn-instance="location-item"
        bgColor="bg-purple-500"
      >
        <img src="location.svg" alt="location icon" />
      </app-info-item>

      <app-info-item
        mn-instance="email-item"
        bgColor="bg-blue-500"
      >
      <img src="email.svg" alt="email icon" />
      </app-info-item>

      <app-info-item
        mn-instance="call-item"
        bgColor="bg-red-500"
      >
      <img src="phone.svg" alt="phone icon" />
      </app-info-item>
    </div>

  </div>
  <form [formGroup]="form" class="flex flex-col items-center w-[50%] sm:items-start gap-8" mn-section="form">
    <app-section-title mn-instance="section-title-form" [data]="contactTitle"></app-section-title>
    <p class="text-center sm:text-left">{{componentConfig.formDescription}}</p>
    <mn-lib-input-field class="block w-full"
                    formControlName="name"
                    [props]="nameProps"
    ></mn-lib-input-field>
    <mn-lib-input-field class="block w-full"
                    formControlName="subject"
                    [props]="subjectProps"
    ></mn-lib-input-field>
    <mn-lib-input-field class="block w-full"
                    formControlName="description"
                    [props]="descriptionProps"
    ></mn-lib-input-field>
    <button class="w-fit" mnButton [data]="formButton">{{componentConfig.formButtonText}}</button>
  </form>
</section>
