<section  class="flex w-full h-full  overflow-hidden justify-between items-center lg:items-start flex-col lg:flex-row gap-16">
  <div class="w-full lg:w-[50%] h-full flex items-center lg:items-start flex-col gap-y-8">
    <app-section-title mn-instance="section-title-about" [data]="aboutUsTitle"></app-section-title>
    <p class="text-center lg:text-left">{{componentConfig.description}}</p>
    <button class="w-fit font-bold" mnButton [data]="aboutUsButton">{{componentConfig.aboutUsButtonText}}</button>
  </div>
  <div class="w-full lg:w-[50%] ">

  <mn-lib-dual-horizontal-image class="h-full"></mn-lib-dual-horizontal-image>
  </div>
</section>
