<section class="flex flex-col gap-y-8 w-full justify-center items-center">
  <app-section-title mn-instance="section-title-packages" [data]="packagesTitle"></app-section-title>
  <p class="lg:w-[50%] text-center">{{componentConfig.packagesDescription}}</p>
  <div class="flex flex-col sm:flex-row flex-wrap items-stretch justify-center gap-8">
    @for (card of componentConfig.cards; track card.id) {
      <mn-lib-information-card [data]="$any(card)" class="w-80 bg-stone-200 rounded-md  flex flex-col">
      <div header>
          <img class="w-28 h-20" [src]="card.image.url" [alt]="card.image.alt" />
        </div>
        <p class="font-bold text-lg ">{{ card.title }}</p>
        <div footer>
          <button>{{ card.description }}</button>
        </div>
      </mn-lib-information-card>
    }
  </div>
</section>
