<!--Container-->
<section
  class="relative lg:h-[55vh] flex flex-col justify-center w-full py-16 bg-cover bg-center bg-no-repeat"
  [ngStyle]="{ 'background-image': 'url(' + componentConfig.backgroundImageUrl + ')' }"
>
  <div class="absolute inset-0 bg-black/50 z-2"></div>

  <div class="relative z-10 px-8 md:px-48  flex flex-col gap-y-8 py-6">
    <div class="w-full lg:w-[40%]">
    <app-section-title mn-instance="section-title-parallax" [data]="data.title"></app-section-title>
    </div>
    <p class="text-white lg:max-w-[80%]">{{ componentConfig.description }}</p>
    <button class="w-fit" mnButton [data]="data.button">{{componentConfig.buttonText}}</button>
  </div>
</section>

