@import "tailwindcss";
@source "../node_modules/mn-angular-lib";

@theme {
  --color-brand-50:  #FFFBEB;
  --color-brand-100: #FFF3C4;
  --color-brand-200: #FFE58A;
  --color-brand-300: #FFD24D;
  --color-brand-400: #FFC21F;
  --color-brand-500: #FFBB00;
  --color-brand-600: #E6A700;
  --color-brand-700: #BF8A00;
  --color-brand-800: #8F6600;
  --color-brand-900: #5F4300;
}

.splide__track {
  height: 400px;
}

.splide__slide .slide-inner {
  border-radius: 16px;
  height: 100%;
  overflow: hidden;
  transform: scale(0.8);
  transition: transform 0.2s ease-in-out;
}

.splide__slide.is-active .slide-inner {
  transform: scale(1);
}
